<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">

    <context:component-scan base-package="com.vct.user.service.impl,com.vct.seckill,com.vct.common.rocketmq,com.vct.common.redis"/>
    <!--<mybatis:scan base-package="com.vct.ssm.dao"/>-->

    <!-- 会话工厂bean sqlSessionFactoryBean -->
    <bean id="userSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="druidDataSource"/>
        <!-- 别名 -->
        <property name="typeAliasesPackage" value="com.vct.user.domain"/>
        <!-- sql映射文件路径 -->
        <property name="mapperLocations">
            <list>
                <value>classpath*:mybatis/**/*.xml</value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 分页插件 -->
        <!--<property name="plugins">-->
            <!--<list>-->
                <!--<bean class="com.vct.common.mybatis.splitpage.PageInterceptor"/>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

    <!-- 自动扫描对象关系映射 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 -->
        <property name="sqlSessionFactoryBeanName" value="userSqlSessionFactory"/>
        <!-- 指定要自动扫描接口的基础包，实现接口 -->
        <property name="basePackage" value="com.vct.user.dao,com.vct.seckill.dao"/>
    </bean>
</beans>