package ${package}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.dao.entity.${className};
import ${package}.dao.mapper.${className}Mapper;
import ${package}.service.I${className}Service;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * ${comments}接口实现
 *
 * @author ${author}
 * @description ${comments}
 * @since ${datetime}
 */
@Slf4j
@RequiredArgsConstructor
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements I${className}Service {

    @Autowired
    private final ${className}Mapper ${classname}Mapper;

}
