<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
   http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- 定义RabbitMQ的连接工厂 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="127.0.0.1" port="5672" username="guest" password="guest"
                               virtual-host="testhost"/>

    <!-- MQ的管理，包括队列、交换器等 -->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- 定义B系统需要监听的队列，自动声明 -->
    <rabbit:queue name="q_topic_testB" auto-declare="true"/>

    <!-- 队列监听 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="myMQlistener" method="listen" queue-names="q_topic_testB"/>
    </rabbit:listener-container>

    <bean id="myMQlistener" class="com.vct.mq.Listener"/>
</beans>